.personal {grid-area: personal;}
.seleccion {grid-area: seleccion;}
.informacion {grid-area: informacion;}
.apellido1 {grid-area: apellidos;}
.apellidos_input1 {grid-area: apellidos_input;}
.nombre {grid-area: nombre;}
.nombre_input {grid-area: nombre_input;}
.sexo {grid-area: sexo;}
.espacio {grid-area: espacio;}
.hombre {grid-area: hombre;}
.mujer {grid-area: mujer;}
.expediente {grid-area: expediente;}
.expediente_input {grid-area: expediente_input;}
.apellidos2 {grid-area: apellidos2;}
.apellidos_input2 {grid-area: apellidos_input2;}
.fecha {grid-area: fecha;}
.fecha_input {grid-area: fecha_input;}
.importe {grid-area: importe;}
.importe_input {grid-area: importe_input;}
.tipo_tarjeta {grid-area: tipo_tarjeta;}
.tarjeta_select {grid-area: tarjeta_select;}
.año_exp {grid-area: año_exp;}
.año_exp_input {grid-area: año_exp_input;}
.apellidos2 {grid-area: apellidos2;}
.edad {grid-area: edad;}
.edad_input {grid-area: edad_input;}
.matricula {grid-area: matricula;}
.matricula_input {grid-area: matricula_input;}
.tarjeta {grid-area: tarjeta;}
.tarjeta_input {grid-area: tarjeta_input;}
.expiracion {grid-area: expiracion;}
.expiracion_input {grid-area: expiracion_input;}

body{
    background-color: rgb(241, 168, 105);
}

.contenedor{
    border-color: rgb(241, 168, 105);
    display: grid;
    grid-template-areas: 
    'personal seleccion'
    'personal seleccion';
}

.formulario_personal{
    display: grid;
    grid-template-areas: 
    'nombre nombre_input'
    'apellido1 apellidos_input1'
    'edad edad_input'
    'matricula matricula_input'
    'tarjeta tarjeta_input'
    'expiracion expiracion_input';

}

.formulario_personal2{
    display: grid;
    grid-template-areas: 
    'expediente expediente_input'
    'apellidos2 apellidos_input2'
    'fecha fecha_input'
    'importe importe_input'
    'tipo_tarjeta tarjeta_select'
    'año_exp año_exp_input';

}

input{
    margin-right: 20px;
    margin-bottom: 10px;
}

label{
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
}

.botones{
    text-align: center;
}

button{
    margin-top: 10px;
}